<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h2>Что я изучил работая над этим проектом?</h2>
  {% comment %}
    Боковой блок со списком технологий
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h5>Python</h5>
      </li>
      <li class="list-group-item">
        <h5>Django</h5>
      </li>
      <li class="list-group-item">
        <h5>SQL</h5>
      </li>
      <li class="list-group-item">
        <h5>HTML</h5>
      </li>
      <li class="list-group-item">
        <h5>Git</h5>
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
      <p><b>Pythoh - </b> В ходе работы над проектом были закреплены навыки
          работы с различными типами данных, навыки работы с циклами и
          ветвлениями, работа с классами, их методами и свойствами.
          Закреплены навыки аннотирования и оформления кода</p>
      <p><b>Django - </b> Создан первый проект, приложения проекта.
          Познакомились с основными принципами формировании структуры проекта.
          Изучены основы работы с Django ORM. Работа с миграциями,
          создание суперпользователя, работа с приложеием
          django.contrib.auth. Изучили работу декораторов, области
          видимости переменных и замыкания. Подготовили модельные формы,
          изучили теорию валидации форм. И многое другое.
      </p>
      <p><b>SQL - </b> Изучены основы работы с СУБД на примере
          базы проекта SQLite. CRUD, Join запросы к базе, запросы
          к нескольким таблицам базы, изменение типов данных,
          группировка, сортировка, обработка данных в группировке,
          подзапросы
      </p>
      <p><b>HTML - </b> Работая над проетом были изучены основы
       языка HTML. Структура HTML страницы, основные HTML теги,
          DOM-дерево, наследование CSS стилей, специфичность селекторов,
          Bootstrap
      </p>
      <p><b>Git - </b> На протяжении всей работы с проектом
          все данные хранились в репозиториях Github. Версии
          проекта на различных стадиях доступны в репозитории в любой момент
      </p>
  </article>
</div>
{% endblock %}
