{% extends 'base.html' %}
{% block title %}{{ post_card.text|truncatechars:30 }}{% endblock %}

{% block content %}

  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: <p>{{ post_card.pub_date|date:"d E Y" }}</p>
        </li>
        <li class="list-group-item">
          {% if post_card.group %}Группа: {{ post_card.group }}
            <p><a href="{% url 'posts:group_list' post_card.group.slug %}">
            Все записи группы</a></p>
          {% else %}
              Нет группы
          {% endif %}
        </li>
              {% if post_card.author.username == request.user.username %}
          <li class="list-group-item">
                <a href="{% url 'posts:post_edit' post_id=post_card.pk %}">
                Редактировать запись
                </a>
          </li>
              {% endif %}
          <li class="list-group-item">
            Автор: <a href="{% url 'posts:profile' post_card.author %}">
            {{ post_card.author.get_full_name }}</a>
          </li>

          <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span >{{ posts_count }}</span>
          </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' username=post_card.author.username %}">
            все посты пользователя
          </a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>{{ post_card.text|linebreaksbr }}</p>
    </article>
  </div>
{% endblock %}